<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabBarBackgroundColor</key>
	<string>0xffffff</string>
	<key>TabBarBackgroundImageName</key>
	<string></string>
	<key>Items</key>
	<array>
		<dict>
			<key>SubJoin</key>
			<string></string>
			<key>Title</key>
			<string>积分</string>
			<key>ImageName</key>
			<string>integral</string>
			<key>VCName</key>
			<string>MemberIntergerViewController</string>
		</dict>
		<dict>
			<key>SubJoin</key>
			<string></string>
			<key>Title</key>
			<string>下载</string>
			<key>ImageName</key>
			<string>download</string>
			<key>VCName</key>
			<string>DownloadViewController</string>
		</dict>
		<dict>
			<key>SubJoin</key>
			<string></string>
			<key>Title</key>
			<string>客服</string>
			<key>ImageName</key>
			<string>service</string>
			<key>VCName</key>
			<string>SystemServiceViewController</string>
		</dict>
	</array>
</dict>
</plist>
